In [1]:
import pandas as pd
import numpy as np
import sklearn.preprocessing
import sklearn as sk

In [2]:
src_list = []
for i in range(9):
    src = 'raw_data_'+str(i+11)+"-"+str(i+12)+'.csv'
    src_list.append(src)
    

for i in range(3):
    src = 'raw_data_'+str(i+21)+"-"+str(i+22)+'.csv'
    src_list.append(src)

In [3]:
src_list

['raw_data_11-12.csv',
 'raw_data_12-13.csv',
 'raw_data_13-14.csv',
 'raw_data_14-15.csv',
 'raw_data_15-16.csv',
 'raw_data_16-17.csv',
 'raw_data_17-18.csv',
 'raw_data_18-19.csv',
 'raw_data_19-20.csv',
 'raw_data_21-22.csv',
 'raw_data_22-23.csv',
 'raw_data_23-24.csv']

In [4]:
df = pd.read_csv(src_list[10])

In [5]:
def preproc(df):
    to_drop = ['WashingtonStateCode','ESDOrganizationId',
           'OrganizationId','washingtonstatename','ESDOrganizationId',
          'DistrictName', 'SchoolOrganizationId','ESDName','DistrictOrganizationId','SchoolName'] #cols to drop
    student_groups = ['All', 'FederalRaceEthnicity'] #student demographic separation metrics
    domains = ['Cognitive', 'Math', 'Literacy', 'SocialEmotional']
    
    dfconcise = df[df.OrganizationLevel=='State'] #state means state-wide
    dfconcise = dfconcise.drop(to_drop, axis=1) #dropped useless cols
    dfconcise = dfconcise[dfconcise.StudentGroupType.isin(student_groups)]
    dfconcise = dfconcise[dfconcise.Domain.isin(domains)]
    print(dfconcise.shape)
    return dfconcise

In [6]:
con_list = []
for i in src_list:
    tempdf = pd.read_csv(i)
    concise = preproc(tempdf)
    con_list.append(concise)

(190, 10)
(256, 10)
(256, 10)
(224, 10)
(224, 10)
(288, 10)
(224, 13)
(224, 13)
(224, 13)
(224, 13)
(224, 13)
(224, 13)

In [7]:
len(con_list)

12

In [8]:
conciseoutput = pd.concat(con_list)

In [9]:
conciseoutput.head(10)

,schoolyear,OrganizationLevel,StudentGroupType,StudentGroup,Domain,Measure,MeasureValue,Numerator,Denominator,Percent,DevelopmentLevel,Suppress,DataAsOf
10845,2011-12,State,All,All Students,Cognitive,CognitiveReadinessFlag,NaN,506.0,6661.0,0.07596,NaN,NaN,NaN
11175,2011-12,State,All,All Students,Cognitive,CognitiveReadinessFlag,N,1377.0,6661.0,0.20673,NaN,NaN,NaN
11354,2011-12,State,All,All Students,Cognitive,CognitiveReadinessFlag,Y,4778.0,6661.0,0.71731,NaN,NaN,NaN
37984,2011-12,State,All,All Students,Literacy,LiteracyDevelopmentLevel,0-2 year olds,16.0,5902.0,0.00271,NaN,NaN,NaN
38010,2011-12,State,All,All Students,Literacy,LiteracyDevelopmentLevel,2-year olds,157.0,5902.0,0.02660,NaN,NaN,NaN
38063,2011-12,State,All,All Students,Literacy,LiteracyDevelopmentLevel,3-year olds,468.0,5902.0,0.07930,NaN,NaN,NaN
38223,2011-12,State,All,All Students,Literacy,LiteracyDevelopmentLevel,4-year olds,2503.0,5902.0,0.42409,NaN,NaN,NaN
38484,2011-12,State,All,All Students,Literacy,LiteracyDevelopmentLevel,Kindergarten and up,2758.0,5902.0,0.46730,NaN,NaN,NaN
38563,2011-12,State,All,All Students,Literacy,LiteracyReadinessFlag,NaN,759.0,6661.0,0.11395,NaN,NaN,NaN
39027,2011-12,State,All,All Students,Literacy,LiteracyReadinessFlag,N,1639.0,6661.0,0.24606,NaN,NaN,NaN

In [15]:
conciseoutput.to_csv('WA_statewide_metrics_concise.csv')